.header {
  font-size: 1.2rem;
}

.homeimg {
  height: 25rem;
  /* height: 25%; */
}

.row {
  gap: 100px !important;
  justify-content: center !important;
}

.disabled {
  border-width: 0px;
}

body {
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* margin-right: 1rem;
  margin-left: 1rem; */

  background-image: url("imgs/ripples.png");
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.center {
  text-align: center;
}

.card {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  width: 45% !important;
}

p {
  margin-top: 15px;
  margin-bottom: 15px;
  /* font-size: 1.5rem; */
}

img {
  margin: auto;
  display: block;
}

h2,
h4,
h5 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.jumbotron {
  background-image: url("../img/jumbotron_bg.jpg");
  background-size: cover;
}
